<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stars_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>stars_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>stars_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>stars_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>stars_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{45,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,61}}</string>
                <key>sourceSize</key>
                <string>{45,61}</string>
            </dict>
            <key>stars_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{41,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>stars_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{41,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,55}}</string>
                <key>sourceSize</key>
                <string>{41,55}</string>
            </dict>
            <key>stars_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stars.png</string>
            <key>size</key>
            <string>{64,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:781aadb2b70d1bd5822f74f1655e5be2:bf7d77709b3bc647862370e2e58caff1:a283aa680c40f7aba299fc6537de2290$</string>
            <key>textureFileName</key>
            <string>stars.png</string>
        </dict>
    </dict>
</plist>
